body {
  /*background-color: rgb(186, 240, 222);*/
  background: linear-gradient(125deg, rgb(138, 211, 154), rgb(147, 152, 218), rgb(204, 130, 223));
}

h1 {
  /*color:rgb(4, 88, 81);*/
  color: floralwhite;
  text-shadow: 0 0 3px rgb(1, 24, 22), 0 0 10px rgb(4, 88, 81), 0 0 15px rgb(6, 122, 112);
  font-family: Betterworks, Times;
  text-align: center;
}

h3 {
  /*color:rgb(4, 88, 81);*/
  color: rgb(6, 122, 112);
  text-shadow: 0 0 3px white;
  font-family: Greenlight, Courier;
  font-size: 200%;
  text-align: center;
}

p {
  color: rgb(4, 88, 81);
  font-family: Greenlight, Courier;
  font-size: 150%;
}

video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  margin: 0 auto;
  display: block;
}

canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0 auto;
  display: block;
  opacity: 0;
}

a {
  color:floralwhite;
  text-shadow: 0 0 3px rgb(4, 88, 81);
  font-size: 125%;
  /*color:rgb(4, 88, 81);*/
  font-family: Greenlight, Courier;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

@font-face {
   font-family: Betterworks;
   src: url("Annas Alam - Betterworks copy.otf");
}

@font-face {
   font-family: Greenlight;
   src: url("Greenlight Script.otf");
}